// Override variables with that file
@import '_custom'; // Keep that for back-compatibility. This shouldn't be used anymore.
$light-color-primary: #222222;
$dark-color-font: #222222;
$dark-color-font: #f1f1f1;
$dark-color-bg: #121212;
